.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.header-menu {
  display: flex;
  align-items: center;
  margin: 0 40%;
}

.header-menu a {
  padding-right: 5px;
}

.main {
  display: flex;
  align-items: center;
  margin: 0 40%;
}

.main h2 {
  padding-right: 5%;
}
